<div id="<%= dom_id produit %>">
  <p>
    <strong>Titre:</strong>
    <%= produit.titre %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= produit.reference %>
  </p>

  <p>
    <strong>Description longue:</strong>
    <%= produit.description_longue %>
  </p>

</div>
